<!--doctype HTML-->
{% extends "base.html" %}
{% block head %} {{instance.title}} | {{block.super}}{% endblock head %}

{% block style %} 
.timestamp{
	font-size:50%;
}
{% endblock style %}

{% block content %}

	<div class = "col-sm-6 col-sm-offset-3">
	
		{% if instance.image %}
			<img src = "{{instance.image.url}}" class = "img-responsive" alt="Chania"/>
		{% endif %}

		<h1>{{title}} {% if instance.draft %}
			<small><span style = "color:red;"> : Draft</span></small>
		{% endif %}<small class = "timestamp">{{instance.publish}}</small></h1>
		{% if instance.user.get_full_name %}
			<p>Author: {{instance.user.get_full_name}}</p>
		{% endif %}
		
		

		<div class = "row">
		<div class = "col-sm-12">
			<span class = "post_detail_item" >{{instance.get_markdown}}</span>
			</br></hr>
		</div>
		</div>
	</div>


{% endblock content %}